*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuildA
.cxx
local.properties
*.hprof

/app/build
/app/release
/app/debug
/app/schemas

# Keystore files
*.jks
*.keystore

# Log files
*.log
